.top-navbar {
    height: 50px;
    //width: 100%;
    background-color: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    color: #fff;

    &-inner {
        height: 100%;
        
        .logo-navbar {
            display: flex;
            font-family: $font-family-title;
            cursor: pointer;
    
            svg {
                width: 25px;
                margin-right: 6px;
            }
        }

        .register-navbar {
            display: flex;
            justify-content: flex-end;
            font-family: $font-family-serif;
        }
    }

}
