//Fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Scheherazade New', serif;
$font-family-title: 'Libre Baskerville', serif;
$font-family-monospace: 'Roboto Mono', monospace;


//Color
$black: #333;
$white: #fff;
$dark-blue: #00233E;
$blue: #4b88ca;
$light-blue: #EAF4FF;
$dawn-pink: #F5EFEA;
$red: #E44503;
$dark-grey: #3C3D41;
$grey: #4F5054;
$light-grey: #ECECEC;
$green: #048347;
$purple: #622856;
$orange: #f3981d;
$dark-orange: #E16618;
$dark-red: #850029;