// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
//-----custom font-----
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&family=Scheherazade+New&display=swap');

// Variables
//@import 'variables';
@import 'style';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    font-family: $font-family-sans-serif;
    color: $black;
    background-color: $dawn-pink;
}

a {
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style: none;
}

main {
    padding-top: 84px;
    padding-bottom: 24px;
    background-color: $white;
}

@import 'header';
@import 'footer';
@import 'homepage';
@import 'form';
